.transactions_table{
  border-collapse: collapse;
  width: 100%;
}

.transactions_table td, th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.transactions_table tr:nth-child(even) {
  background-color: #f3f3f3;
}
