<div style="width: 100%; background: #a3b1ff; padding: 5px; color: white">
	<span style="font-weight: bold">LOGS</span>
</div>

<table class="transactions_table">
	<thead style="text-align: left;">
		<tr>
			<th style="border-top: none">Date</th>
			<th style='text-align: center; border-top: none'>QTY</th>
		</tr>	
	</thead>

	<tbody>
		<tr *ngFor="let transaction of dataSourceTransactions">
			<td>{{transaction.transactionDate}}</td>
			<td style="text-align: center" [style.color]="transaction.transactionAdd == true ? '#89e289' : '#ff5f5f'">{{(transaction.transactionAdd == true? "+":"-")}}{{transaction.transactionQty}}</td>
		</tr>
	</tbody>
</table>