<section style="width: 100%">
	<div style="float: left">
		<mat-card-title>Corned Beef</mat-card-title>
		
		<div style="font-size: 12px; color: white">
			<mat-chip-list aria-label="Fish selection">
				<mat-chip>Food</mat-chip>
				<mat-chip color="primary" selected>Household</mat-chip>
				<mat-chip color="accent" selected>Kitchen</mat-chip>
			</mat-chip-list>
		</div>
	</div>

	<div style="width: 20%; float: right; padding-right: 40px">
		<span style="float: right; font-size: 20px">38</span><br/><br/>
		<span style="float: right; font-size: 12px">qty</span>
	</div>
</section>
