<mat-card style="padding: 0; height: 100%">
	<mat-card-header style="padding-top: 20px; height: 100px;">
		<app-product-card-header style="width: 100%"></app-product-card-header>
	</mat-card-header>

	<mat-card-content class="demo-basic-list">
		<app-product-card-logs></app-product-card-logs>
	</mat-card-content>
</mat-card>
