<app-header-toolbar></app-header-toolbar>

<mat-grid-list [cols]="12" gutterSize="15px" rowHeight="80vh">
	<mat-grid-tile [colspan]="8" [rowspan]="1" class="card">
		<app-left-card-content></app-left-card-content>
	</mat-grid-tile>

	<mat-grid-tile [colspan]="4" [rowspan]="1" class="card">
		<app-right-card></app-right-card>
	</mat-grid-tile>
</mat-grid-list>
