<table mat-table [dataSource]="dataSourceInventory" style="width: 97%;">

	<!--- Note that these columns can be defined in any order.
		The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="productName">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let product" (mouseover)="product['hovered'] = true" (mouseleave)="product['hovered'] = false;"> 
			<span style="margin-right: 10px" *ngIf="product['edit'] == false">{{product.productName}}</span>
			<input type="text" name="" [(ngModel)]="product.productName" *ngIf="product['edit'] == true" style="padding: 5px; border: 1px solid #dedede;"/>

			<button mat-icon-button aria-label="" *ngIf="product['hovered'] == true && product.edit == false" (click)="product['edit'] = true;">
				<mat-icon svgIcon="edit" aria-hidden="false" aria-label="Edit Product" style="height: 40%; color: #848484"></mat-icon>
			</button>

			<button mat-icon-button aria-label="" *ngIf="product['hovered'] == true && product.edit == false" (click)="deleteProduct(product)">
				<mat-icon svgIcon="delete" aria-hidden="false" aria-label="Delete Product" style="height: 40%; color: #e45757"></mat-icon>
			</button>

			<button mat-icon-button aria-label="" *ngIf="product.edit == true" (click)="saveEditProductChanges(product)">
				<mat-icon svgIcon="check" aria-hidden="false" aria-label="Confirm Edit" style="height: 40%; color: #00b921"></mat-icon>
			</button>

			<button mat-icon-button aria-label="" *ngIf="product.edit == true" (click)="product['edit'] = false; product.productName = product.backupProductName">
				<mat-icon svgIcon="close" aria-hidden="false" aria-label="Cancel Edit" style="height: 40%; color: #e45757"></mat-icon>
			</button>			
		</td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="productStock">
		<th mat-header-cell *matHeaderCellDef> Stock </th>
		<td mat-cell *matCellDef="let product"> {{product.productStock}} </td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="productCategory">
		<th mat-header-cell *matHeaderCellDef> Categories </th>
		<td mat-cell *matCellDef="let product">
			<mat-chip-list aria-label="Fish selection">
				<mat-chip *ngFor="let category of product.productCategory" style="min-height: 23px; font-size: 12px; padding: 6px 8px">{{category}}</mat-chip>
			</mat-chip-list>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumnsInventory"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumnsInventory;"></tr>
</table>
