<mat-form-field>
	<input matInput placeholder="Product Name" [(ngModel)]="data.addProductModel.productName">
	<!-- {{data}} -->
</mat-form-field>

<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button color="primary" [mat-dialog-close]="data.addProductModel" cdkFocusInitial>Add</button>
</div>