<div style="display: inline-block; width: 100%">
	<h1 mat-dialog-title>
		Categories
		<button mat-flat-button color="primary" style="float: right">New Category</button>
	</h1>	
	<mat-divider></mat-divider>
</div>

<div mat-dialog-content>
	<mat-list role="list"  >
		<mat-list-item role="listitem" style="font-size: 14px !important">
			Food

			<div style='margin-left: 5px'>
				<button mat-icon-button aria-label="" style="margin-top: 0px">
					<mat-icon svgIcon="edit" aria-hidden="false" aria-label="Edit Product" style="height: 30%; color: #848484; vertical-align: baseline;"></mat-icon>
				</button>

				<button mat-icon-button aria-label="">
					<mat-icon svgIcon="delete" aria-hidden="false" aria-label="Delete Product" style="height: 30%; color: #e45757; vertical-align: baseline;"></mat-icon>
				</button>
			</div>
		</mat-list-item>

		<mat-list-item role="listitem" style="font-size: 14px !important">
			Household

			<div style='margin-left: 5px'>
				<button mat-icon-button aria-label="" style="margin-top: 0px">
					<mat-icon svgIcon="edit" aria-hidden="false" aria-label="Edit Product" style="height: 30%; color: #848484; vertical-align: baseline;"></mat-icon>
				</button>

				<button mat-icon-button aria-label="">
					<mat-icon svgIcon="delete" aria-hidden="false" aria-label="Delete Product" style="height: 30%; color: #e45757; vertical-align: baseline;"></mat-icon>
				</button>
			</div>
		</mat-list-item>

		<mat-list-item role="listitem" style="font-size: 14px !important">
			Kitchen

			<div style='margin-left: 5px'>
				<button mat-icon-button aria-label="" style="margin-top: 0px">
					<mat-icon svgIcon="edit" aria-hidden="false" aria-label="Edit Product" style="height: 30%; color: #848484; vertical-align: baseline;"></mat-icon>
				</button>

				<button mat-icon-button aria-label="">
					<mat-icon svgIcon="delete" aria-hidden="false" aria-label="Delete Product" style="height: 30%; color: #e45757; vertical-align: baseline;"></mat-icon>
				</button>
			</div>
		</mat-list-item>
	</mat-list>
</div>

<div mat-dialog-actions    style="display: inline-block; width: 100%">
	<mat-divider></mat-divider>
	<button mat-button (click)="onNoClick()" style="float: right; margin-top: 5px">Close</button>
</div>


