<mat-card style="width: 100%; height: 100%;">
	<mat-card-content class="demo-basic-list">
		
		<section style="width: 100%;">
			<div style="float: left">
				<app-products-search></app-products-search>
			</div>

			<div style="width: 20%; float: right; padding-right: 30px">
				<mat-button-toggle-group #group="matButtonToggleGroup" style="float: right">
					<mat-button-toggle value="left" aria-label="Text align left" matTooltip="Add Product" (click)="openAddProductDialog()">
						<mat-icon svgIcon="product" aria-hidden="false" aria-label="Add Product for inventory"></mat-icon>
					</mat-button-toggle>

					<mat-button-toggle value="center" aria-label="Text align center" matTooltip="Manage Categories" (click)="openCategoriesDialog()">
						<mat-icon svgIcon="category" aria-hidden="false" aria-label="Redirect to Manage Categories"></mat-icon>
						<!-- Manage Categories -->
					</mat-button-toggle>
				</mat-button-toggle-group>
			</div>
		</section>

		<app-products-table></app-products-table>			
	</mat-card-content>
</mat-card>